/// card style

.card {
  border: none;
  padding: 46px 20px;
  background-color: rgba($color-tallow, 0.1);

  img {
    width: 100%;
    margin: 0 auto;
  }

  &__header {
    text-align: center;
    padding: 18px 0 0 0;
  }

  &__main p {
    padding: 24px 2px;
    text-align: justify;
  }

  &__bottom {
    margin: 16px auto;
    text-align: center;

    .buttons {
      margin-top: 40px;
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@include media(">=sm") {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md") {
  .card {
    padding: 60px 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@include media(">=lg") {
  .card {
    padding: 60px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
