/// icon styles

.icon {
  @include transition(0.6s ease-in);
  margin: 10px;
  color: #000;

  &--home {
    font-size: 38px;
  }

  &--footer {
    font-size: 30px;
  }
}

// icon hover statements
.icon-github:hover {
  @include transition(0.4s ease-out);
  color: $color-github;
}

.icon-linkedin:hover {
  @include transition(0.4s);
  color: $color-linkedin;
}

.icon-medium:hover {
  @include transition(0.4s);
  color: $color-hemlock;
}

.icon-twitter:hover {
  @include transition(0.4s);
  color: $color-twitter;
}

/* Small devices (landscape phones, 576px and up) */
@include media(">=sm") {
  .icon {
    &--home {
      font-size: 50px;
    }

    &--footer {
      font-size: 32px;
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md") {
  .icon {
    &--home {
      font-size: 80px;
    }

    &--footer {
      font-size: 40px;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@include media(">=lg") {
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
