/// about

.about {
  height: auto;
  padding: 50px 0;

  &__header {
    margin: 80px 0 0 0;
  }

  &__title {
    text-transform: capitalize;
    text-align: center;
    padding: 40px 0;
  }

  &__text {
    text-align: justify;
    padding: 20px;
    background-color: rgba($color-tallow, 0.1);
  }

  &__skills {
    margin: auto 0;
    padding: 20px;
    background-color: rgba($color-tallow, 0.1);

    img {
      width: 40px;
      height: auto;
      margin: 10px;
    }
  }

  &__icon {
    margin: 12px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@include media(">=sm") {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md") {
  .about {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;

    &__header,
    &__title {
      padding: 30px 0;
      margin: 0;
    }

    &__myself,
    &__stack {
      margin: 50px 0;
    }

    &__skills {
      img {
        width: 60px;
        height: auto;
        margin: 10px;
      }
    }
  }
}

@include media(">=md", "landscape") {
  .about {
    height: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@include media(">=lg") {
  .about {
    height: 100vh;
    display: flex;
    align-items: center;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
