.about {
  height: auto;
  padding: 50px 0;

  &__header {
    margin: 80px 0 0 0;
  }

  &__title {
    text-transform: capitalize;
    text-align: center;
    padding: 40px 0;
  }

  &__text {
    text-align: justify;
    padding: 20px;
    background-color: rgba($color-tallow, 0.1);
  }

  &__skills {
    margin: auto 0;
    padding: 20px;
    background-color: rgba($color-tallow, 0.1);
  }

  &__icon {
    margin: 12px;
  }
}
