.contact {
  height: auto;
  margin: 100px 0 50px 0;

  &__wrapper {
    padding: 100px 0;
  }

  &__header {
    background-color: rgba($color-tallow, 0.1);
    padding: 30px 12px;
  }

  &__title {
    text-transform: capitalize;
    text-align: center;
  }

  &__comment {
    background-color: rgba($color-tallow, 0.1);
    padding: 0 12px 12px 12px;
  }

  // comment section
  &__user-messages {
    ul {
      padding: 12px 0;

      li {
        margin: 18px 0;
        padding: 20px 8px;
        border: 1px solid black;
      }
    }
  }

  &__name {
  }

  &__mail {
  }

  &__message {
  }

  &__up-button {
    display: flex;
    justify-content: center;
    a img {
      width: 50px;
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md") {
  .contact {
    &__header {
      padding: 40px 12px 12px 12px;
    }
    &__comment {
      padding: 30px;
    }
  }
}
