.contact {
  height: auto;
  margin: 100px 0 50px 0;

  &__wrapper {
    padding: 100px 0;
  }

  &__header {
    background-color: rgba($color-tallow, 0.1);
    padding: 30px 12px;
  }

  &__title {
    text-transform: capitalize;
    text-align: center;
  }

  &__comment {
    background-color: rgba($color-tallow, 0.1);
    padding: 0 12px 12px 12px;
  }
}
