.home {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 100px 0;
  background-color: rgba($color-moon, 0.3);

  &__header {
    text-align: center;
  }

  &__title {
    padding: 4px 0;
  }

  &__name::after {
    content: "👋";
  }
}
