/// home

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color-moon, 0.3);
  padding: 180px 2% 0 2%;
  overflow-x: hidden;

  &__header {
    text-align: center;
  }

  &__title {
    padding: 4px 0;
  }

  &__name::after {
    content: "👋";
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0 0 0;

    a img {
      @include transition(0.4s);
      width: 50px;
      height: auto;
      margin: 10px;

      &:hover {
        @include transition(0.4s);
        transform: scale(1.1);
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md") {
  .home {
    padding: 320px 5% 0 5%;

    &__bottom {
      padding: 150px 0 0 0;
    }
  }
}

@include media(">=md", "landscape") {
  .home {
    padding-top: 100px;
    margin-bottom: 100px;
  }
}

/* Large devices (desktops, 992px and up) */
@include media(">=lg") {
  .home {
    &__bottom {
      a img {
        width: 100px;
        margin: 20px;
      }
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
