.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color-moon, 0.3);
  padding: 180px 2% 0 2%;
  overflow-x: hidden;

  &__header {
    text-align: center;
  }

  &__title {
    padding: 4px 0;
  }

  &__name::after {
    content: "👋";
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0 0 0;
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md") {
  .home {
    padding: 320px 5% 0 5%;

    &__bottom {
      padding: 280px 0 0 0;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@include media(">=lg") {
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
