.work {
  height: auto;
  padding: 50px 0;

  &__header {
    text-align: center;
    margin: 100px 0 80px 0;
  }

  &__title {
    text-transform: capitalize;
  }
}

@include media(">=md", "landscape") {
  .work {
    height: auto;
  }
}
