/// variables

// * colors
$color-moon: #d7d8c9;
$color-tallow: #a4a68a;
$color-saffron: #f2be24;
$color-hemlock: #57523e;
$color-orange: #d94c1a;
$color-github: #6e5494;
$color-linkedin: #2867b2;
$color-twitter: #1da1f2;
