/// footer

.footer {
  margin-top: 80px;
  background-color: rgba($color-tallow, 0.1);

  &__social__items {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    &__links {
      a img {
        width: 30px;
        height: auto;
        margin: 10px;
      }
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md") {
  .footer {
    &__social {
      height: 100px;

      &__links {
        a img {
          width: 50px;
          height: auto;
          margin: 10px;
        }
      }
    }
  }
}
