// nav

.nav {
}

// hamburger toggler
.hamburger-toggler {
  cursor: pointer;

  .toggler {
    display: block;
    position: absolute;
    right: 22px;
    width: 30px;
    height: 4px;
    background-color: #000;
    transition: all 0.4s;
  }

  .toggler:first-child {
    top: 22px;
  }

  .toggler:nth-child(2) {
    top: 30px;
  }

  .toggler:last-of-type {
    top: 38px;
  }

  .toggler:nth-of-type(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 32px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }

  .toggler:nth-of-type(2) {
    opacity: 0;
  }

  .toggler:nth-of-type(3) {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    top: 32px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
}

// breakpoints

/* Small devices (landscape phones, 576px and up) */
@include media(">=sm") {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md") {
}

/* Large devices (desktops, 992px and up) */
@include media(">=lg") {
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
