/// nav

.nav {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 0.3rem 1.5rem 0 rgba(0, 0, 0, 0.25);

  &__brand {
    width: 40px;
    height: auto;
    margin: 0 auto 0 20px;
  }

  &__list {
    @include transition(0.8s);
    position: absolute;
    left: -100%;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 26px;
    text-transform: lowercase;
    text-align: center;
    background-color: #fff;
  }

  &__item {
    padding: 24px 0;
  }

  &__link {
    @include transition(0.4s);
    color: $color-hemlock;

    &:hover {
      @include transition(0.4s);
      color: $color-orange;
    }
  }
}

.nav__show {
  left: 0;
  @include transition(0.8s);
}

.nav__hide {
  display: none;
}

// hamburger toggler
.hamburger-toggler {
  cursor: pointer;
  z-index: 11;

  .toggler {
    display: block;
    position: absolute;
    right: 22px;
    width: 36px;
    height: 5px;
    background-color: $color-hemlock;
    transition: all 0.4s;
    border-radius: 30px;
  }

  .toggler:first-child {
    top: 26px;
  }

  .toggler:nth-child(2) {
    top: 36px;
  }

  .toggler:last-of-type {
    top: 46px;
  }

  .toggler-1 {
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 46px !important;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }

  .toggler-2 {
    opacity: 0;
  }

  .toggler-3 {
    position: absolute;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    top: 26px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
}

// breakpoints

/* Small devices (landscape phones, 576px and up) */
@include media(">=sm") {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md") {
  .nav {
    &__brand {
      margin: 0 auto 0 40px;
    }

    &__list {
      position: static;
      width: 100%;
      height: 80px;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 50px;
    }

    &__link {
      padding: 24px;

      &:hover {
        color: #fff;
        background-color: $color-orange;
      }
    }
  }

  .hamburger-toggler {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@include media(">=lg") {
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
