// nav

.nav {
  &__list {
    @include transition(0.4s);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 79%;
    height: 400px;
    background-color: yellow;
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    padding: 20px 0;
  }

  &__item {
    padding: 24px 0;
  }
}

.nav__show {
  left: 0;
}

// hamburger toggler
.hamburger-toggler {
  cursor: pointer;
  z-index: 11;

  .toggler {
    display: block;
    position: absolute;
    right: 22px;
    width: 30px;
    height: 4px;
    background-color: #000;
    transition: all 0.4s;
  }

  .toggler:first-child {
    top: 18px;
  }

  .toggler:nth-child(2) {
    top: 26px;
  }

  .toggler:last-of-type {
    top: 34px;
  }

  .toggler-1 {
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 34px !important;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }

  .toggler-2 {
    opacity: 0;
  }

  .toggler-3 {
    position: absolute;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    top: 26px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
}

// breakpoints

/* Small devices (landscape phones, 576px and up) */
@include media(">=sm") {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md") {
}

/* Large devices (desktops, 992px and up) */
@include media(">=lg") {
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
