/// typo global

// base styles
body {
  font-family: $font-family;
}

h1 {
  font-size: 30px;
  font-weight: $bold;
}

h2 {
  font-size: 22px;
  font-weight: $bold;
}

// home section

.home {
  &__name {
    text-shadow: 1px 1px $color-moon;
    font-size: 24px;
  }
  &__job {
    text-shadow: 1px 1px $color-saffron;
  }
}
