/// typo global

// base styles
body {
  font-family: $font-family;
}

h1 {
  font-size: 32px;
  font-weight: $bold;
  line-height: 50px;
}

h2 {
  font-size: 20px;
  font-weight: $bold;
}

// nav section
.nav {
  &__link {
    font-size: 26px;
  }
}

// home section
.home {
  &__name {
    text-shadow: 1px 1px $color-moon;
    font-size: 24px;
  }

  &__job {
    text-shadow: 1px 1px $color-saffron;
  }
}

// work section
.work {
  &__title {
    font-weight: $semibold;
  }
}

// about sections
.about {
  &__title {
    font-weight: $semibold;
  }

  &__header {
    font-weight: $semibold;
    font-size: 26px;
  }

  &__text {
    line-height: 25px;
  }

  &__icon {
    font-size: 42px;
  }
}

// card
.card {
  &__header h4 {
    font-weight: $semibold;
  }

  &__main p {
    font-size: 16px;
    font-weight: $regular;
    line-height: 25px;
  }
}

// buttons
.btn_def {
  &--work {
    font-size: 16px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@include media(">=sm") {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 34px;
  }

  .home {
    &__name {
      font-size: 42px;
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@include media(">=md") {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 40px;
  }

  .home {
    &__name {
      font-size: 50px;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@include media(">=lg") {
}

/* Extra large devices (large desktops, 1200px and up) */
@include media(">=xl") {
}
