/// typo global

// base styles
body {
  font-family: $font-family;
}

h1 {
  font-size: 32px;
  font-weight: $bold;
  line-height: 50px;
}

h2 {
  font-size: 20px;
  font-weight: $bold;
}

// nav section
.nav {
  &__link {
    font-size: 26px;
  }
}

// home section
.home {
  &__name {
    text-shadow: 1px 1px $color-moon;
    font-size: 24px;
  }

  &__job {
    text-shadow: 1px 1px $color-saffron;
  }
}

// work section
.work {
  &__title {
    font-weight: $semibold;
  }
}
// card
.card {
  &__header h4 {
    font-weight: $semibold;
  }

  &__main p {
    font-size: 16px;
    font-weight: $regular;
  }
}

// buttons
.btn_def {
  &--work {
    font-size: 16px;
  }
}
